*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

:root{
  --royal-blue:#002349;
  --blue:#96C2D8;
  --grey:#F6F6F6;
  --white-smoke:#F5F5F5;
  --bright-red:#FF0000;
}

body{
  background-color: var(--white-smoke);
}

.header{
  margin-bottom: 50px;
  background-color: rgb(159, 204, 244);


}

.header a{
  text-decoration: none;
}



.header-links{
  width:250px;
  color: var(--white-smoke);

}


.user-image{
  height:40px;
  width: 40px;
}


.user-image-home{
  height:80px;
  width: 80px;
}

